@import '@moon-ui/app-scss/color';
@import '@moon-ui/app-scss/metric';

.addTaskButton {
  border: 2px dashed $button-pomodoro-select-task-border;
  color: $button-pomodoro-select-task-color;
}

.container {
  margin: 0 $spacing-xl;
  display: flex;
  flex-direction: column;
}

.task {
  background: $card-task-selected-task-background;
  padding: $spacing-xl;
  border-radius: 12px;
  margin-bottom: $spacing-sm;
  color: $card-task-selected-task-color;
  text-align: center;
}
