@import '@moon-ui/app-scss/color';

.container {
  width: 45px;
  height: 24px;
  background-color: $black24;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 50px;
  padding: 2px 6px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  &:hover {
    background-color: $primary;
  }
}

.checkedContainer {
  background-color: $primary;
}

.handle {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 10px;
}
