.header {
  align-items: center;
  display: flex;
  padding: 0 12px;
}
.slider {
  padding: 0 12px 0 18px;
  box-sizing: border-box;
}

.headerLeft {
  display: flex;
  flex: 1;
  align-items: center;
}

.title {
  margin-left: 12px;
}
