@import '@moon-ui/app-scss/color';

.body {
  display: flex;
  flex: 100;
}

.leftHandle {
  background-color: $black50;
  border-radius: 3px;
  height: 6px;
}

.rightHandle {
  background-color: $black12;
  border-radius: 3px;
  height: 6px;
}

.mark {
  border-radius: 10px;
  top: -7px;
  height: 20px;
  width: 20px;
  background-color: $primary;
  position: absolute;
}

.container {
  position: relative;
}
