$drawer-z-index: 1000;
$drawer-2-z-index: 1002;
$drawer-3-z-index: 1003;
$tooltip-z-index: 2000;

/* Margin or Padding */
$spacing-xl: 22px;
$spacing-lg: 16px;
$spacing-md: 12px;
$spacing-sm: 8px;
$spacing-xs: 4px;
