$drawer-z-index: 1000;
$drawer-z-index-2: 1002;
$drawer-z-index-3: 1003;

$modal-z-index: 10000;

$tooltip-z-index: 11000;

$video-z-index: 12000;

/* Margin or Padding */
$spacing-xl: 22px;
$spacing-lg: 16px;
$spacing-md: 12px;
$spacing-sm: 8px;
$spacing-xs: 4px;
$spacing-xxs: 2px;
