@import '@moon-ui/app-scss/color';

.project {
  color: $text-description-color;
}

.container {
  border: 1px solid $card-border;
  border-radius: 6px;
  margin-top: 6px;
  padding: 6px;
}

.footer {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
}
