@import '@moon-ui/app-scss/color';
@import '@moon-ui/app-scss/metric';
@import 'include-media/dist/include-media';

.container {
  align-items: center;
  background: var(--card-background);
  display: flex;
  padding: $spacing-md;
  @include media('<=tablet') {
    padding: $spacing-sm $spacing-md;
  }
}

.body {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: $spacing-sm;
}
