@import '@moon-ui/app-scss/color';
@import '@moon-ui/app-scss/metric';
@import '@moon-ui/app-scss/function';

.button {
  border: none;
  border-radius: 12px;
  background: $white24;
  padding: 0;
  width: 250px;
  cursor: pointer;
  outline-offset: 4px;
  height: 48px;
  &:active {
    transform: translateY(-2px);
  }
}
.activeButton {
  transform: translateY(-2px);
  background: hsl(340deg 100% 32%);
}

.buttonText {
  display: block;
  padding: 12px 40px;
  border-radius: 12px;
  font-size: 1.25rem;
  font-weight: 500;
  background: $white;
  color: $primary;
  transform: translateY(-6px);
  &:active {
    transform: translateY(-2px);
  }
}

.activeButtonText {
  background: hsl(345deg 100% 47%);
  color: white;
    transform: translateY(-2px);
}
