@import '@moon-ui/app-scss/metric';
@import '@moon-ui/app-scss/function';

.item {
  margin-bottom: $spacing-md;
}

.durationInput {
  font-size: toRem(20px);
  width: 60px;
  margin-right: $spacing-sm;
}

.nameInput {
  font-size: toRem(20px);
  width: 100%;
  border: 0px;
  resize: none;
  &:focus {
    outline: none;
  }
}

.submitButton {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: $spacing-xl;
}

.eisenhowerMatrix {
  padding: 12px 0;
}
