@import '@moon-ui/app-scss/color';
@import '@moon-ui/app-scss/metric';

.section {
  box-sizing: border-box;
  margin-bottom: $spacing-lg;
}

.container {
  padding-bottom: 60px;
  user-select: none;
  -webkit-user-select: none;
}
