@import '@moon-ui/app-scss/color';
@import '@moon-ui/app-scss/function';

.container {
  align-items: stretch;
  background: $button-action-background;
  color: $button-action-color;
  display: flex;
  font-size: toRem(12px);
  font-weight: 500;
  padding: 2px 10px;
}

.success {
  background: $button-action-success;
}

.pending {
  background: $button-action-pending;
}

.processing {
  background: $button-action-processing;
}

.verticalLine {
  background: $button-action-vertical-line;
  margin: 4px 6px;
  width: 1px;
}

.body {
  align-items: center;
  display: flex;
  flex: 1;
}

.disabled {
  background: $button-disabled;
}
