@import '@moon-ui/app-scss/metric';
@import '@moon-ui/app-scss/color';

.iconActive {
  color: $icon-primary;
  fill: $icon-primary;
}

.iconInactive {
  color: $icon-color-inactive-invert;
  fill: $icon-color-inactive-invert;
}

.drawer {
  z-index: $drawer-z-index-2;
}
