@import '@moon-ui/app-scss/metric';
@import '@moon-ui/app-scss/color';

.iconActive {
  color: $primary;
  fill: $primary;
}

.iconInactive {
  color: $black50;
  fill: $black50;
}

.drawer {
  z-index: $drawer-z-index-2;
}
