@import '@moon-ui/app-scss/color';
@import '@moon-ui/app-scss/metric';
@import '@moon-ui/app-scss/function';
@import '@dreamer/tasks-page-common/src/index';

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.row {
  display: flex;
  flex: 1;
}
.main {
  padding: 10px 6px;
  flex: 1;
  display: flex;
  flex-direction: column;
  display: flex;
}

.header {
  display: flex;
  justify-content: space-between;
  /* min-height: 40px; */
}

.body {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.checkbox {
  accent-color: $checkbox-accent-color;
}

.division {
  background-color: $common-task-item-division;
  height: 1px;
}

.icon {
  margin-right: $spacing-xs;
  width: 16px;
  height: 16px;
  color: $common-task-item-icon;
  fill: $common-task-item-icon;
}

.actionContainer {
  padding: $spacing-xxs $spacing-xs;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    color: $common-task-action-container-hover;
    fill: $common-task-action-container-hover;
  }
}

.section {
  display: flex;
  cursor: -webkit-grabbing;
  cursor: move;
}

.dragIcon {
  cursor: move;
  cursor: -webkit-grabbing;
  fill: $common-task-item-drag-icon;
  height: 20px;
}

.bar {
  width: 6px;
  margin: 10px 0;
  margin-left: 0px;
  box-sizing: border-box;
  border-radius: 10px;
  margin-left: 6px;
}
.do {
  background-color: $eisenhower-do;
}

.schedule {
  background-color: $eisenhower-schedule;
}

.delegate {
  background-color: $eisenhower-delegate;
}
.eliminate {
  background-color: $eisenhower-eliminate;
}

.buttonText {
  font-size: toRem(12px);
  color: $common-task-item-button-text;
}

.verticalDivision {
  width: 1px;
  border-radius: 0.5px;
  background: $common-task-item-vertical-division;
  margin: 3px 6px;
}
