@import '@moon-ui/app-scss/color';
@import '@moon-ui/app-scss/metric';
@import '@dreamer/tasks-page-common/src/index';

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.row {
  display: flex;
  flex: 1;
}
.main {
  padding: 10px 6px;
  flex: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  min-height: 40px;
}

.body {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
}

.project {
  color: $black50;
}

.checkbox {
  accent-color: $success;
}

.division {
  background-color: $black12;
  height: 1px;
}

.icon {
  margin-right: $spacing-sm;
  width: 16px;
  height: 16px;
}

.actionContainer {
  padding: $spacing-xs $spacing-md;
  background: $black6;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: $spacing-md;
  &:hover {
    color: $primary;
    fill: $primary;
  }
}

.section {
  display: flex;
  align-items: flex-start;
  cursor: move;
	cursor: -webkit-grabbing;
}

.dragIcon {
  cursor: move;
	cursor: -webkit-grabbing;
  fill: $black;
  height: 20px;
}

.bar {
  width: 6px;
  height: 100%;
}
.do {
  background-color: $eisenhower-do
}

.schedule {
  background-color: $eisenhower-schedule
}

.delegate {
  background-color: $eisenhower-delegate
}
.eliminate {
  background-color: $eisenhower-eliminate

}
