@import '@moon-ui/app-scss/color';
@import '@moon-ui/app-scss/metric';

.container {
  border-radius: 10px;
  padding: 10px 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  min-height: 40px;
}

.body {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
}

.project {
  color: $black50;
}

.checkbox {
  accent-color: $success;
}

.division {
  background-color: $black12;
  height: 1px;
  margin: 0 16px;
}

.icon {
  margin-right: $spacing-sm;
  width: 16px;
  height: 16px;
}

.actionContainer {
  padding: $spacing-xs $spacing-md;
  background: $black6;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: $spacing-md;
  &:hover {
    color: $primary;
    fill: $primary;
  }
}

.rightHeader {
  display: flex;
  align-items: flex-start;
}
