@import '@moon-ui/app-scss/color';
@import 'include-media/dist/include-media';

.container {
  align-items: center;
  background: $background;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.body {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
}
