@import '@moon-ui/app-scss/color';
@import 'include-media/dist/include-media';

.container {
  background: $background;
  min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body {
  max-width: 600px;
  width: 100%;
}
