@import '@moon-ui/app-scss/color';
@import '@moon-ui/app-scss/metric';

.header {
  margin-left: $spacing-md;
}

.body {
  background-color: $white;
  box-shadow: 0 7px 18px $card-shadow;
  position: relative;
  width: 100%;
}

.empty {
  align-items: center;
  border: 1px dashed $black50;
  border-radius: 6px;
  display: flex;
  height: 100px;
  justify-content: center;
  margin-left: $spacing-md;
  margin-right: $spacing-md;
}

.heading {
  align-items: center;
  display: flex;
  margin-bottom: $spacing-md;
}

.checkbox {
  margin-right: $spacing-xs;
}

.doneTaskText {
  margin-right: $spacing-md;
}
